<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CheckOutSuite">
  <test thread-count="5" name="CheckOutTestCases">
   <groups>
        <run>
             <include name="sanity"></include>
             <exclude name="retest"></exclude>
        
         </run>
   </groups>
    <classes>
      <class name="testcases.CheckOutStep2Page_test"/>
      <class name="testcases.CheckOutStep1Page_test"/>
      <class name="testcases.CheckOutComplete_test"/>
    </classes>
  </test> <!-- CheckOutTestCases -->
</suite> <!-- CheckOutSuite -->
